<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>海魅儿</title>
    <meta name="keywords" content="设计网站,原创,创意，网页设计,网站设计,设计素材,佳作欣赏,经验,教程,高清图片。" />
    <meta name="description" content="专注高品质网站设计，为您的品牌缔造经典，让营销更具价值，良好的用户体验，全面提升您的企业形象，响应式的页面布局，交互式的设计体验，多元化的设计风格，优秀的设计团队，优化的设计流程，施工管理流程，品类丰富，管理科学的材料集采平台，便捷高效的客户服务体系。我们将竭力提供设计导航服务!" />

    <link rel="icon" href="http://static.simovision.cn/favicon.png"/>


    <!--        css         -->
    <link rel="stylesheet" href="tpls/templates/css/style.min.css">

    <!--Main Script-->
    <script src="tpls/templates/js/index.min.js"></script>

</head>
<body class="case">

<{include file='head.html'}>

<!--案例展示-->
<div class="case_show">
    <div class="container">
        <div class="row">
            <div class="span12 content">
                <h2>【活动策划】海魅儿徐海乔签约仪式</h2>
                <h3>【视觉设计】整体视觉设计呼应主题，Tiffany 色系的点睛之笔将会场气氛推向完美之境，不仅享受视觉盛筵，而且由花艺大师-罗小惠打造的鲜花海洋使现场弥漫芬芳，甜品大牌“悠时客”不仅满足视觉、也将满足味蕾，让来宾铭记这一场盛筵！</h3>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_01.jpg" alt="海魅儿"/></div>

                <h3>现场礼品设计</h3>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_02.jpg" alt="海魅儿"/></div>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_03.jpg" alt="海魅儿"/></div>

                <h3>现场零食</h3>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_04.jpg" alt="海魅儿"/></div>

                <h3>嘉宾互动</h3>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_05.jpg" alt="海魅儿"/></div>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/haimei_06.jpg" alt="海魅儿"/></div>
            </div>
        </div>
    </div>
</div>

<{include file='footer.html'}>