<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>LESLIE SHOW</title>
    <meta name="keywords" content="设计网站,原创,创意，网页设计,网站设计,设计素材,佳作欣赏,经验,教程,高清图片。" />
    <meta name="description" content="专注高品质网站设计，为您的品牌缔造经典，让营销更具价值，良好的用户体验，全面提升您的企业形象，响应式的页面布局，交互式的设计体验，多元化的设计风格，优秀的设计团队，优化的设计流程，施工管理流程，品类丰富，管理科学的材料集采平台，便捷高效的客户服务体系。我们将竭力提供设计导航服务!" />

    <link rel="icon" href="http://static.simovision.cn/favicon.png"/>


    <!--        css         -->
    <link rel="stylesheet" href="tpls/templates/css/style.min.css">

    <!--Main Script-->
    <script src="tpls/templates/js/index.min.js"></script>

</head>
<body class="case">

<{include file='head.html'}>

<!--案例展示-->
<div class="case_show">
    <div class="container">
        <div class="row">
            <div class="span12 content">
                <h3>Leslie·Show秀</h3>
                <h4>【Leslie · 简介】</h4>
                <p>入行十年，曾在TOUI&GUY工作7年先后任技术总监、艺术总监。2013年10月成立个人品牌：Leslie Show 秀</p>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_01.jpg" alt="Leslie·Show"/></div>

                <h4>LOGO和场景设计</h4>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_02.jpg" alt="Leslie·Show"/></div>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_03.jpg" alt="Leslie·Show"/></div>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_04.jpg" alt="Leslie·Show"/></div>

                <h3> 海报设计</h3>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_05.jpg" alt="Leslie·Show"/></div>
                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/leslie_06.jpg" alt="Leslie·Show"/></div>
            </div>
        </div>
    </div>
</div>

<{include file='footer.html'}>