<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>所有案例</title>
    <meta name="keywords" content="设计网站,原创,创意，网页设计,网站设计,设计素材,佳作欣赏,经验,教程,高清图片。" />
    <meta name="description" content="专注高品质网站设计，为您的品牌缔造经典，让营销更具价值，良好的用户体验，全面提升您的企业形象，响应式的页面布局，交互式的设计体验，多元化的设计风格，优秀的设计团队，优化的设计流程，施工管理流程，品类丰富，管理科学的材料集采平台，便捷高效的客户服务体系。我们将竭力提供设计导航服务!" />

    <link rel="icon" href="http://static.simovision.cn/favicon.png"/>


    <!--        css         -->
    <link rel="stylesheet" href="tpls/templates/css/style.min.css">

    <!--Main Script-->
    <script src="tpls/templates/js/index.min.js"></script>

</head>
<body class="case">

<{include file='head.html'}>

<!--案例展示-->
<div class="case_show">
    <div class="container">
        <div class="row">
            <div class="span12 content">
                <h3>兰州演艺集团</h3>
                <h5>【兰州演艺集团 · 简介】</h5>
                <p>兰州演艺集团是在全国文化体制改革大潮中涌现的国有重点文化企业，于2012年5月28日揭牌成立。兰州演艺集团被誉为甘肃文化金名片！</p>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/lanzhou_01.jpg" alt="兰州演义集团"/></div>

                <p>有幸参与设计主形象标识系统，从草图到设计完成历时2个月，跨界与当代雕刻艺术家合作共同创作而成，虽称不上是百分百完美，但却是独一无二的。
                    logo:飞天印。</p>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/lanzhou_02.jpg" alt="兰州演义集团"/></div>

                <h3>最终定稿</h3>

                <p>保留了smart极具特色的前大灯和logo元素，将车辆的视觉特征压缩到俱乐部logo里，配合几何图形和文字使图形更为协调。</p>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/lanzhou_03.jpg" alt="兰州演义集团"/></div>

                <h3> 活动海报</h3>

                <div class="case_show_img"><img src="http://static.simovision.cn/tpls/templates/images/case_img/lanzhou_04.jpg" alt="兰州演义集团"/></div>
            </div>
        </div>
    </div>
</div>


<{include file='footer.html'}>