
<!--顶部导航-->
<div id="header" class='header'>
  <div class="container">
          <div class="navbar">

            <a class="brand" href="index.php"></a>

            <div class="btnBox">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="index.php">思威主页
                            <br>
                            <span>Home</span>
                        </a>

                    </li>
                    <li>
                        <a href="index.php?a=honor">思威荣誉
                            <br>
                            <span>Honor</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?a=vision">思威观点
                            <br>
                            <span>Vision</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?a=invitation">招贤纳士
                            <br>
                            <span>Invitation</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?a=contact">联系思威
                            <br>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
                <div class="lastLi"></div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!--顶部导航 结束-->

<!--静态banner-->
<div class="staticBanner">
    <img src="http://static.simovision.cn/tpls/templates/images/mainLink_banner_case.jpg" alt="案例展示">
</div>
