<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>思威视觉</title>
    <meta name="keywords" content="设计网站,原创,创意，网页设计,网站设计,设计素材,佳作欣赏,经验,教程,高清图片。" />
    <meta name="description" content="专注高品质网站设计，为您的品牌缔造经典，让营销更具价值，良好的用户体验，全面提升您的企业形象，响应式的页面布局，交互式的设计体验，多元化的设计风格，优秀的设计团队，优化的设计流程，施工管理流程，品类丰富，管理科学的材料集采平台，便捷高效的客户服务体系。我们将竭力提供设计导航服务!" />
    <link rel="icon" href="http://static.simovision.cn/favicon.png"/>

    <!--        css         -->
    <link rel="stylesheet" href="tpls/templates/css/style.min.css">

    <!--        js          -->
    <script src="tpls/templates/js/index.min.js"></script>

</head>
<body>
<{include file='head-index.html'}>

<div id="carousel">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="http://static.simovision.cn/tpls/templates/images/index_banner_1.jpg" alt="思威设计"></div>
            <div class="swiper-slide"><img src="http://static.simovision.cn/tpls/templates/images/index_banner_2.jpg" alt="我们能做什么"></div>
            <div class="swiper-slide"><img src="http://static.simovision.cn/tpls/templates/images/index_banner_3.jpg" alt="您在找我吗？"></div>
            <div class="swiper-slide"><img src="http://static.simovision.cn/tpls/templates/images/index_banner_4.jpg" alt="客户的认可"></div>
        </div>
        <div class="swiperPage"></div>
    </div>
</div>

<!--快速导航-->
<div id="mainLink">
    <div class="container">
        <div class="row">
            <h3 class="linkTitle">
                我们能为您做什么？
            </h3>
            <p class="sideTitle">
                WHAT CAN WE DO FOR YOU ?
            </p>
        </div>

        <div class="row">
            <div class="span3 active">
                <div class="link-icon-window">
                    <div class="link-bg">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_1.png" alt="white background">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_2.png" alt="red background">
                    </div>

                    <div class="link-icon">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_1_1.png" alt="red icon">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_1_2.png" alt="white icon">
                    </div>
                </div>

                <div class="link-txt-window">
                    <div class="link-txt-cnt">
                        <p class="fst">
                            <b class="linkTitle">
                                品牌设计
                            </b>
                            <span>
                                核心价值挖掘 差异价值提炼 logo标识
                                <br>
                                VI品牌视觉识别手册
                            </span>
                        </p>
                        <p class="sec">
                            <b class="linkTitle">
                                品牌设计
                            </b>
                        <span>
                            核心价值挖掘 差异价值提炼 logo标识
                            <br>
                            VI品牌视觉识别手册
                        </span>
                        </p>
                    </div>

                </div>

                <div class="link-arrow"><i class="fa fa-chevron-down"></i></div>
            </div>

            <div class="span3">
                <div class="link-icon-window">
                    <div class="link-bg">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_1.png" alt="white background">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_2.png" alt="red background">
                    </div>

                    <div class="link-icon">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_2_1.png" alt="red icon">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_2_2.png" alt="white icon">
                    </div>
                </div>

                <div class="link-txt-window">
                    <div class="link-txt-cnt">
                        <p class="fst">
                            <b class="linkTitle">
                                品牌战略
                            </b>
                            <span>
                                品牌策略 品牌定位 品牌命名
                                <br>
                                品牌宣传口号
                            </span>
                        </p>
                        <p class="sec">
                            <b class="linkTitle">
                                品牌战略
                            </b>
                            <span>
                                品牌策略 品牌定位 品牌命名
                                <br>
                                品牌宣传口号
                            </span>
                        </p>
                    </div>

                </div>

                <div class="link-arrow"><i class="fa fa-chevron-down"></i></div>

            </div>

            <div class="span3">
                <div class="link-icon-window">
                    <div class="link-bg">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_1.png" alt="white background">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_2.png" alt="red background">
                    </div>

                    <div class="link-icon">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_3_1.png" alt="red icon">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_3_2.png" alt="white icon">
                    </div>
                </div>

                <div class="link-txt-window">
                    <div class="link-txt-cnt">
                        <p class="fst">
                            <b class="linkTitle">
                                产品设计
                            </b>
                            <span>
                                广告创意 形象画册 产品样本
                                <br>
                                企业网站设计
                            </span>
                        </p>
                        <p class="sec">
                            <b class="linkTitle">
                                产品设计
                            </b>
                            <span>
                                广告创意 形象画册 产品样本
                                <br>
                                企业网站设计
                            </span>
                        </p>
                    </div>

                </div>

                <div class="link-arrow"><i class="fa fa-chevron-down"></i></div>

            </div>

            <div class="span3">
                <div class="link-icon-window">
                    <div class="link-bg">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_1.png" alt="white background">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_bg_2.png" alt="red background">
                    </div>

                    <div class="link-icon">
                        <img class="fst" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_4_1.png" alt="red icon">
                        <img class="sec" src="http://static.simovision.cn/tpls/templates/images/mainLink_icon_4_2.png" alt="white icon">
                    </div>
                </div>

                <div class="link-txt-window">
                    <div class="link-txt-cnt">
                        <p class="fst">
                            <b class="linkTitle">
                                互联网设计
                            </b>
                            <span>
                                网店日常活动设计 网店视觉设计
                                <br>
                                网店规划 SI商业终端设计
                            </span>
                        </p>
                        <p class="sec">
                            <b class="linkTitle">
                                互联网设计
                            </b>
                            <span>
                                网店日常活动设计 网店视觉设计
                                <br>
                                网店规划 SI商业终端设计
                            </span>
                        </p>
                    </div>

                </div>

                <div class="link-arrow"><i class="fa fa-chevron-down"></i></div>

            </div>
        </div>

        <div class="row row-banner-move" style="overflow: hidden;">
            <div class="link-banner-move">
                <a href="case.php?case_leslie"><img src="tpls/templates/images/mainLink_banner_1.jpg" alt="leslie show"></a>
                <a href="case.php?case_simo"><img src="tpls/templates/images/mainLink_banner_2.jpg" alt="simo"></a>
                <a href="case.php?case_glass"><img src="tpls/templates/images/mainLink_banner_3.jpg" alt="glass"></a>
                <a href="case.php?case_talent"><img src="tpls/templates/images/mainLink_banner_4.jpg" alt="talent"></a>
            </div>
        </div>
    </div>
</div>
<{include file='footer.html'}>